.list__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  .list__checkbox+label {
      display: block;
      position: relative;
      line-height: 30px;
      padding-left:50px;
  
  }
  .list__checkbox+label::before {
      box-sizing: border-box;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      line-height: 24px;
      border: 1px solid #dccafd;
      border-radius: 4px;
      left:5px;
      top: 3px;
      transition:0.4s linear;
  }
  
  .list__checkbox:checked+label::before {
    background-color: #dccafd;
    content: '\2714';
    text-align:center;
    box-shadow:1px 1px 4px grey;
  }
  
  .list__checkbox:not(:disabled):not(:checked)+label:hover::before {
    background-color: #dccafd;
  }